{% extends "blog/base.html" %}

{% block title %}{{ post.title }} - Django Blog{% endblock %}

{% block content %}
<article>
    <h1>{{ post.title }}</h1>
    <p class="meta">By {{ post.author }} on {{ post.published_date|date:"F d, Y" }}</p>
    <div class="content">
        {{ post.content|linebreaks }}
    </div>
    
    {% if user == post.author %}
    <div class="post-actions">
        <a href="/blog/post/{{ post.pk }}/update/" class="btn btn-edit">Edit</a>
        <a href="/blog/post/{{ post.pk }}/delete/" class="btn btn-delete">Delete</a>
    </div>
    {% endif %}
</article>

<div class="navigation">
    <a href="/blog/">← Back to all posts</a>
</div>
{% endblock %}